@charset "UTF-8";
/**
* @author Gaël Poupard
* @site Thème ffeeeedd
* @lastmodified 2013-11-05
* @subsection Références :
  * @see KNACSS.com V1.1 @author : Raphael Goetter, Alsacreations
  * @see HTML5boilerplate
  * @see http://rocssti.nicolas-hoffmann.net/ @author : @Nico3333fr
*/

/* ----------------------------- */
/* ==Structure */
/* @note : Aucun de ces éléments ne doit être modifié.
/* ----------------------------- */

/* ----------------------------- */
/* Sommaire */
/* ----------------------------- */
/*
  == Modèle de boîte
  == Structure flottante
  == Structure en tableau
  == Alignements ( blocs et en ligne )
    -- Alignement horizontal
    -- Alignement vertical
  == Grilles
    -- Grilles égales, marge 2%
    -- Grilles inégales (1-2, 2-1, 1-3 et 3-1)
  == Inline-block
  == Largeurs
    -- Largeurs en %
  == Espacements
    -- Marges externes
    -- Marges internes
  == Éléments masqués
    -- Remplacement d'image
  == Orientation
*/


/* == @section Modèle de boîte ==================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}


/* == @section Structure flottante ==================== */
/* Bloc capable de contenir plusieurs .mod, peut contenir des flottants */
.line { @extend .clear; }

/* Module autonome - flottant, doit avoir une largeur */
.mod {
  overflow: hidden;
  @extend .pa1;
}

/* Généralement dans un .mod, peut contenir des .item */
.items { }

/* Fluide, contient des flottants, peut être placé à côté d'un flottant */
.item { overflow: hidden; }


/* == @section Structure en tableau ==================== */
.row {
  @extend .clear;
  display: table;
  table-layout: fixed;
  @extend .w-100;
}

.row > *,
.col {
  display: table-cell;
  @extend .pa1;
  @extend .aligntop;
}

/* Blocs qui peuvent suivre des flottants ( i.e. pour déclarer une nouvelle ligne ) */
.clear { clear: both; }

/* Blocs qui peuvent contenir des flottants */
.clearfix:before,
.clearfix:after,
.line:before,
.line:after,
.mod:before,
.mod:after {
  @extend .clear;
  content: "";
  display: table;
}


/* == @section Alignements ( blocs et en ligne ) ==================== */

/* -- @subsection Alignement horizontal -------------------- */
/* À gauche */
.left,
.alignleft { float: left; }

img.left,
img.alignleft { @extend .mr2; }

/* À droite */
.right,
.alignright { float: right; }

img.right,
img.alignright { @extend .ml2; }


/* Centré */
.aligncenter {
  @extend .clear;
  display: block;
}

/* Autorise les marges verticales spécifiques */
.center,
.aligncenter {
  margin-left: auto;
  margin-right: auto;
}

/* Alignement du texte */
.txtleft { text-align: left; }

.txtright { text-align: right; }

.txtcenter { text-align: center; }

/* -- @subsection Alignement vertical -------------------- */
.aligntop { vertical-align: top; }

.alignmiddle { vertical-align: middle; }

.alignbottom { vertical-align: bottom; }


/* == @section Grilles ==================== */

/* -- @subsection Grilles égales, marge 2% -------------------- */
/* Les enfants directs sont flottants */
[class*=grid] > * { float: left; }

/* Et voilà la gouttière */
[class*=grid] > * + * { margin-left: 2%; }

.grid2 > * { width: 49%; }

.grid3 > * { width: 32%; }

.grid4 > * { width: 23.5%; }

.grid5 > * { width: 18.4%; }

.grid6 > * { width: 15%; }

/* -- @subsection Grilles inégales (1-2, 2-1, 1-3 et 3-1) -------------------- */
.grid2-1 > *:first-child,
.grid1-2 > * + * { width: 66%; }

.grid1-2 > *:first-child,
.grid2-1 > * + * { width: 32%; }

.grid1-3 > *:first-child,
.grid3-1 > * + * { width: 23.5%; }

.grid3-1 > *:first-child,
.grid1-3 > * + * { width: 74.5%; }


/* == @section Inline-block ==================== */
.inbl,
.btn {
  display: inline-block;
  @extend .aligntop;
}


/* == @section Largeurs ==================== */

/* -- @subsection Largeurs en % -------------------- */
@each $w in 10, 20, 25, 30, 33, 40, 50, 60, 66, 70, 75, 80, 90, 100 {
  .w-#{$w} {
    width: percentage( $w / 100 );
  }
}


/* == @section Espacements ====================
 * @note : p, m = padding, margin
 * @note : a, t, r, b, l = all, top, right, bottom, left
 * @note : Nous avons besoin des valeurs de 0 à 2 au minimum.
*/
@for $i from 0 through 3 {

  .ma#{$i} { margin: #{$i}em; }

  .mt#{$i} { margin-top: #{$i}em; }

  .mr#{$i} { margin-right: #{$i}em; }

  .mb#{$i} { margin-bottom: #{$i}em; }

  .ml#{$i} { margin-left: #{$i}em; }

  .pa#{$i} { padding: #{$i}em; }

  .pt#{$i} { padding-top: #{$i}em; }

  .pr#{$i} { padding-right: #{$i}em; }

  .pb#{$i} { padding-bottom: #{$i}em; }

  .pl#{$i} { padding-left: #{$i}em; }

}


/* == @section Éléments masqués ==================== */
.visually-hidden {
  left: -7000px;
  overflow: hidden;
  position: absolute;
}

.js .js-hidden,
.no-js .js-visible { display: none; }

.js .js-visible,
.no-js .js-hidden { display: block; }

/* -- @subsection Remplacement d'image -------------------- */
.ir {
  background-color: transparent;
  @extend .b-reset;
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    height: 100%;
    width: 0;
  }
}


/* == @section Orientation ====================
 * @note : Corrige un bug sur les font-size lors du changement d'orientation sur iOS
*/
@media ( orientation: landscape ) and ( max-device-width: 768px ) {
  html,
  body {
    -webkit-text-size-adjust: 100%;
  }
}
