@charset "UTF-8";
/**
* @author Gaël Poupard
* @site Thème ffeeeedd
* @lastmodified 2013-11-05
*/

/* ----------------------------- */
/* ==Typographie */
/* @note : Cette feuille de stlye gère le rythme vertical, les corps et graisses de texte (niveaux de titres, texte courant, éléments particuliers..).
/* ----------------------------- */

/* ----------------------------- */
/* Sommaire */
/* ----------------------------- */
/*
  == Typographie
    -- Niveaux de titres
    -- Corps alternatifs
    -- Styles particuliers
*/


/* == @section Typographie ====================
 * @see : http://www.codestyle.org/servlets/FontStack
 * @see : http://ffffallback.com/
 * @see http://soqr.fr/vertical-rhythm/ @author : @eQRoeil
*/

body { font: $base-font-size/$base-line-height $regular-font-stack; }

/*
  Corps du texte pour le contenu,
  Préserve le rythme vertical.
*/
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea {
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin: $base-line-height 0;
}

/* -- @subsection Niveaux de titres -------------------- */
.hn {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
.h1-like {
  font-size: 5.1429em;
  line-height: .8751em;
  margin: .5834em 0 .2917em;
  @extend .hn;
}

h2,
.h2-like {
  font-size: 2.5714em;
  line-height: 1.1666em;
  margin: 1.1666em 0 .5833em;
  @extend .hn;
}

h3,
.h3-like {
  font-size: 1.7143em;
  line-height: 1.75em;
  margin: 1.75em 0 .875em;
  @extend .hn;
}

h4,
.h4-like {
  font-size: 1.2857em;
  line-height: 1.1667em;
  margin: 2.3334em 0 1.1667em;
  @extend .hn;
}

h5,
.h5-like {
  font-size: 1.1429em;
  line-height: 1.3125em;
  margin: 2.625em 0 1.3125em;
  @extend .hn;
}

h6,
.h6-like {
  font-size: 1em;
  line-height: 1.5em;
  margin: 3em 0 1.5em;
  @extend .hn;
}


/* -- @subsection Corps alternatifs -------------------- */
.smaller {
  font-size: .8571em;
  line-height: 1.75em;
  margin: 1.75em 0;
}

.small {
  font-size: .8571em;
  line-height: 1.75em;
  margin: 1.75em 0;
}

.big {
  font-size: 1.1429em;
  line-height: 1.3125em;
  margin: 1.3125em 0;
}

.bigger {
  font-size: 1.2857em;
  line-height: 1.1667em;
  margin: 1.1667em 0;
}

.biggest {
  font-size: 1.7143em;
  line-height: 1.75em;
  margin: .875em 0;
}

/* -- @subsection Styles particuliers -------------------- */
blockquote { font-style: italic; }

code,
pre,
samp {
  font-family: $monospace-font-stack;
}
