/**
 * @author Gaël Poupard
 * @site Thème ffeeeedd--sass
 * @lastmodified 2013-11-13
 */

// Mixins
@mixin ffeeeedd--font( $s, $m: true ) {
  // @note : Gère l'échelle typographique
  // @see : http://www.emmanuelgeorjon.com/grille-typographique-la-theorie-5001/

  @if $s > $ratio {

    font-size: em( $s );
    line-height:  ceil( $s / $ratio ) * $ratio / $s;
    @if $m == true {
      $margin: ceil( $s / $ratio ) * $ratio / $s * 1em;
      margin: $margin (0) $margin / 2 ;
    }

  } @else if $s == $ratio {

    font-size: em( $s );
    line-height: $unitless-line-height;
    @if $m == true {
      $margin: $unitless-line-height * 1em;
      margin: $margin (0);
    }

  } @else if $s < $ratio {

    font-size: em( $s );
    line-height: $ratio / $s;
    @if $m == true {
      $margin: $ratio / $s * 1em;
      margin: $margin (0) $margin / 2;
    }
  }

}

@mixin ffeeeedd--ie( $v ) {
  // @note : Support d'IE en spécifiant la version
  // @note : Nécessite l'ajout d'une classe sur le html via commentaires conditionnels
  // @see : http://www.alsacreations.com/astuce/lire/988-classes-conditionnelles-HTML.html
  // @note: Peut être adapté pour Modernizr par exemple, en passant la propriété supportée ou non en argument

  .ie#{$v} & {
    @content;
  }
}

@mixin ffeeeedd--action( $c1, $c2 ) {
  // @note : Personnalisation des zones d’action (boutons, navigation, etc.)
  // @note : On passe en paramètre la couleur désirée.
  // @note : Les éléments cliquables doivent avoir la classe «action--able» également.

  background-color: $c2;
  background-image: -webkit-linear-gradient( top, $c1 0%, $c2 100% );
  background-image: linear-gradient( to bottom, $c1 0%, $c2 100% );
  border: 1px solid darken( $c2, 20 );
  box-shadow: inset 1px 1px 0 transparentize( white, .75);
  color: #fff;
  text-shadow: 1px 1px transparentize( black, .75);
  transition: all .3s linear;

  &.action--able:hover,
  &.action--able:focus {
    background-color: darken( $c2, 5 );
    background-image: -webkit-linear-gradient( top, darken( $c1, 5 ) 0%, darken( $c2, 5 ) 100% );
    background-image: linear-gradient( to bottom, darken( $c1, 5 ) 0%, darken( $c2, 5 ) 100% );
    color: #fff;
    text-decoration: none;
  }

  &.action--able:active,
  &.action--able:visited {
    background-color: lighten( $c2, 5 );
    background-image: -webkit-linear-gradient( top, lighten( $c1, 5 ) 0%, lighten( $c2, 5 ) 100% );
    background-image: linear-gradient( to bottom, lighten( $c1, 5 ) 0%, lighten( $c2, 5 ) 100% );
    color: #fff;
  }
}
