/**
 * @author Gaël Poupard
 * @site Parenthèse Océan Voyages
 * @lastmodified 2014-01-21
 */

// @note : regroupement des styles communs dans le mixin suivant
// @see : «CSS maintenables avec Sass & Compass», page 238/239
// @author : Kaelig Deloumeau-Prigent
%ffeeeedd--action {
  background-size: auto 300%;
  background-position: 0 50%;
  box-shadow: inset 1px 1px 0 transparentize( white, .75);
  color: #fff !important;
  text-decoration: none !important;
  text-shadow: 1px 1px transparentize( black, .75);
  transition: all .3s linear;
}
