@charset "UTF-8";
/**
* @author Gaël Poupard
* @site Thème ffeeeedd
* @lastmodified 2013-11-06
* @subsection Références :
  * @see KNACSS.com V1.1 @author : Raphael Goetter, Alsacreations
  * @see HTML5boilerplate
  * @see http://rocssti.nicolas-hoffmann.net/ @author : @Nico3333fr
*/

/* ----------------------------- */
/* ==Structure étendue // Design réactif
/* @note Utilisé pour étendre la structure d’origine : personnaliser la largeur du site, ajouter des tailles en px par exemple, personnaliser les versions responsive (MQ en em)…
 * @see http://marieguillaumet.com/refonte-mon-portfolio-du-responsive-en-em-premiere-partie
 * @see http://lanyrd.com/2013/parisweb/sckdfg/
/* ----------------------------- */

/* ----------------------------- */
/* Sommaire */
/* ----------------------------- */
/*
  == Largeur du contenu
  == Pansement pour le viewport
  == Modification des classes
    -- Palier «large»
    -- Palier «medium»
    -- Palier «small»
    -- Palier «tiny»
*/


/* == @section Largeur du contenu ==================== */
.w--site { width: em( $base-width ); }

.mw--site { max-width: em( $base-width ); }


/* == @section Pansement pour le viewport ==================== */
@-webkit-viewport {
  width: device-width;
  zoom: 1.0;
}

@-moz-viewport {
  width: device-width;
  zoom: 1.0;
}

@-ms-viewport {
  width: device-width;
  zoom: 1.0;
}

@-o-viewport {
  width: device-width;
  zoom: 1.0;
}

@viewport {
  width: device-width;
  zoom: 1.0;
}


/* == @section Modification des classes ====================
 * @note Premier palier :    «large»
 * @note Deuxième palier :   «medium»
 * @note Troisième palier :  «small»
 * @note Quatrième palier :  «tiny»
*/

/* -- @subsection Palier «large» -------------------- */
@media ( min-width: em( $large-width ) ) {
    .large-hidden { display: none !important; }

    .large-visible { display: block !important; }

    .large-no-float {float: none; }
}

/* -- @subsection Palier «medium» -------------------- */
@media ( max-width: em( $medium-width ) ) {
    .medium-hidden { display: none !important; }

    .medium-visible { display: block !important; }

    .medium-no-float {float: none; }
}

/* -- @subsection Palier «small» -------------------- */
@media ( max-width: em( $small-width ) ) {
    .small-hidden { display: none !important; }

    .small-visible { display: block !important; }

    .small-no-float {float: none; }
}

/* -- @subsection Palier «tiny» -------------------- */
@media ( max-width: em( $tiny-width ) ) {
    .tiny-hidden { display: none !important; }

    .tiny-visible { display: block !important; }

    .tiny-no-float {float: none; }
}
