@charset "UTF-8";
/**
* @author Gaël Poupard
* @site Thème ffeeeedd
* @lastmodified 2013-06-26
*/

/* ----------------------------- */
/* ==Typographie */
/* @note : Cette feuille de stlye gère le rythme vertical, les corps et graisses de texte (niveaux de titres, texte courant, éléments particuliers..).
/* ----------------------------- */

/* ----------------------------- */
/* Sommaire */
/* ----------------------------- */
/*
  == Typographie
    -- Niveaux de titres
    -- Corps alternatifs
    -- Styles particuliers
*/


/* == @section Typographie ====================
 * @see : http://www.codestyle.org/servlets/FontStack
 * @see : http://ffffallback.com/
 * @see http://soqr.fr/vertical-rhythm/ @author : @eQRoeil
*/

body {
  @include ffeeeedd--font(16, false);
  font-family: $regular-font-stack;
  text-rendering: optimizeLegibility;
}

/*
  Corps du texte pour le contenu,
  Préserve le rythme vertical.
*/
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea {
  @include ffeeeedd--font(16, true);
}

/* -- @subsection Niveaux de titres -------------------- */
.hn {
  -webkit-font-smoothing: antialiased;
  color: $strong-color;

  &:first-child {
    /* Élude la fusion des marges pour les titrailles */
    margin-top: 0;
  }
}

h1,
.h1-like {
  @include ffeeeedd--font(96, true);
  @extend .hn;
}

h2,
.h2-like {
  @include ffeeeedd--font(64, true);
  @extend .hn;
}

h3,
.h3-like {
  @include ffeeeedd--font(42, true);
  @extend .hn;
}

h4,
.h4-like {
  @include ffeeeedd--font(36, true);
  @extend .hn;
}

h5,
.h5-like {
  @include ffeeeedd--font(24, true);
  @extend .hn;
}

h6,
.h6-like {
  @include ffeeeedd--font(18, true);
  @extend .hn;
}


/* -- @subsection Corps alternatifs -------------------- */
small,
.small {
  @include ffeeeedd--font(12, false);
}

.big {
  @include ffeeeedd--font(18, false);
}


/* -- @subsection Styles particuliers -------------------- */
blockquote { font-style: italic; }

code,
pre,
samp { font-family: $monospace-font-stack; }
